name: EarlyAccess

on:
  push:
    branches: [ master ]

jobs:
  earlyaccess:
    name: 'Early Access'
    if: github.repository == 'redis-field-engineering/redis-sql-trino' && startsWith(github.event.head_commit.message, 'Releasing version') != true
    uses: redis-field-engineering/redis-github-workflows/.github/workflows/early-access-maven.yml@main
    with:
      jreleaser-arguments: full-release
      java-version: '17'
    secrets:
      github-token: ${{ secrets.GIT_ACCESS_TOKEN }}
      gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
      gpg-public-key: ${{ secrets.GPG_PUBLIC_KEY }}
      gpg-secret-key: ${{ secrets.GPG_SECRET_KEY }}
      sonatype-username: ${{ secrets.SONATYPE_USERNAME }}
      sonatype-password: ${{ secrets.SONATYPE_PASSWORD }}
      docker-username: ${{ secrets.DOCKER_USERNAME }}
      docker-password: ${{ secrets.DOCKER_PASSWORD }}
      slack-webhook: ${{ secrets.SLACK_WEBHOOK }}

  docker:
    name: 'Docker'
    if: startsWith(github.event.head_commit.message, 'Releasing version') != true
    uses: redis-field-engineering/redis-github-workflows/.github/workflows/docker.yml@main
    with:
      tags: fieldengineering/redis-sql-trino:early-access
    secrets:
      github-token: ${{ secrets.GIT_ACCESS_TOKEN }}
      docker-username: ${{ secrets.DOCKER_USERNAME }}
      docker-password: ${{ secrets.DOCKER_PASSWORD }}